*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 10px;

}
.nav {
  position: fixed;
  top: 0px;
  top: 0em;
  height: 50px;
  width: 100%;
  background-color: #fff;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: .1px;
  border-color: #BCBBC1;
  border-style: solid;
}

.location {
  position: fixed;
  top: 1.5em;
  right: 2em;
}

.back-arrow {
  position: fixed;
  top: 1.75em;
  left: 1.5em;
}

.nav h1{
  text-align: center;
  font-family: sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  color: #481919;
  padding-top: 1em;
  line-height: .5em;
}
.nav h2{
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  color: #8C8C8C;
  padding-top: .45em;

}
.map {
  height: 160px;
  width: 100%;
  margin-top: 5em;
  background-image: url("washington_state.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.nextbus {
  height: 120px;
  width: 100%;
  background-color: rgb(89,151,178, 20%);
  border-top: .2px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: .2px;
  border-color: #481919;
  border-style: solid;
}
.nextbus-bus-route {
  display:inline-block;
  padding-left: 1.8em;

}
.nextbus-bus-route h2{
  text-align: left;
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #481919;
  padding-top: .5em;
  line-height: .5em;

}
.nextbus-bus-route h3{
  text-align: left;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 200;
  color: #8C8C8C;
  padding-top: .5em;

}

.nextbus-busnumber {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  font-family: sans-serif;
  font-size: 2.2em;
  font-weight: 600;
  color: #481919;
  padding-left: .2em;
  line-height: .2em;


}
.nextbus-time {
  display: inline-block;
  width: 4em;
  height: 1em;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #481919;
  float: right;
  padding-top: 1em;
  padding-left: .5em;
  line-height: .2em;

}

.nextbus h1 {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #481919;
  padding-top: 1.5em;
  padding-left: 1em;
}

.upnext {
  height: 60px;
  width: 100%;
  background-color: #fff;
}

.upnext h2 {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #481919;
  padding-top: 1.5em;
  padding-left: 1em;
}

.refresh {
  float: right;
  position: relative;
  right: 3em;
  bottom: 1.5em;
  height: 2em;
  width: 2em;
}

.bus-route {
  display: inline-block;
  padding-left: 7em;
  padding-right: .5em;

}
.bus {
  height: 58px;
  width: 100%;
  background-color: #fff;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: .1px;
  border-color: #BCBBC1;
  border-style: solid;
}
.bus-busnumber {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-family: sans-serif;
  font-size: 2.4em;
  font-weight: 600;
  color: #ABABAB;
  padding-left: 1em;
  padding-top: 1.5em;
  line-height: .2em;

}
.bus-time {
  display: inline-block;
  width: 5em;
  height: 1em;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: #ABABAB;
  float: right;
  padding-left: 1em;
  padding-top: 1.7em;
  line-height: .2em;

}
.bus-time-outofservice {
  display: inline-block;
  width: 10em;
  height: 4em;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #ABABAB;
  float: right;
  padding-left: .5em;
  padding-top: 2.5em;
  line-height: .2em;

}
.bus h1{
  text-align: left;
  font-family: sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  color: #481919;
  padding-top: 1em;
  line-height: .5em;

}
.bus h2{
  text-align: left;
  font-family: sans-serif;
  font-size: 1.4em;
  font-weight: 200;
  color: #8C8C8C;
  padding-top: .5em;

}
.mybus {
  height: 58px;
  width: 100%;
  background-color: #fff;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: .1px;
  border-color: #BCBBC1;
  border-style: solid;
}
.mybus h1{
  text-align: left;
  font-family: sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  color: #481919;
  padding-top: 1em;
  line-height: .5em;

}
.mybus h2{
  text-align: left;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  color: #8C8C8C;
  padding-top: .5em;

}
.mybus-busnumber {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-family: sans-serif;
  font-size: 2.4em;
  font-weight: 600;
  color: #481919;
  float: left;
  padding-left: 1.5em;
  line-height: .2em;
  padding-top: 1.5em;

}
.mybus-time {
  display: inline-block;
  width: 5em;
  height: 1em;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: #481919;
  float: right;
  padding-right: .5em;
  padding-top: 1.4em;
  line-height: .2em;
  padding-left: 1em;

}
.mybus-route {
  display: inline-block;
  padding-left: 6em;

}
.tab-bar {
  position: fixed;
  bottom: 0px;
  height: 5em;
  width: 100%;
  background-color: #fff;
  padding-top: .75em;
  border-top: .1px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-color: #BCBBC1;
  border-style: solid;
}


.tab-bar-direction {
  display: inline-block;
  float: left;
  width: 34%;

}
.tab-bar-route {
  display: inline-block;
  width: 33%;
  height: 2em;
  margin-top: .5em;
  }




.tab-bar-search {
  display: inline-block;
  float: right;
  width: 33%;

}
