*, *:before, *:after {
  box-sizing: border-box;
}
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  background-color: #fff;
  font-size: 10px;
  font-family: "system";

}

nav {
  position: fixed;
  top: 0px;
  top: 0em;
  height: 50px;
  width: 100%;
  background-color: #fff;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: .1px;
  border-color: #BCBBC1;
  border-style: solid;

}

.location {
  position: fixed;
  top: 1.5em;
  right: 1.3em;
}

.back-arrow {
  position: fixed;
  top: 1.75em;
  left: 1.2em;
}

nav h1 {
  text-align: center;
  font-size: 1.7em;
  font-weight: 600;
  color: #481919;
  line-height: 1.5em;
  letter-spacing: -2.4%;
  padding-top: .25em

}

nav h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  color: #8C8C8C;
  letter-spacing: -1.6%;

}

.map {
  height: 160px;
  width: 100%;
  margin-top: 5em;
  background-image: url("washington_state.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.nextbus {
  height: 120px;
  width: 100%;
  background-color: rgb(89,151,178, 20%);


}

.nextbus-bus-route {
  display:inline-block;
  padding-left: 3em;
  padding-top: 1em;

}

.nextbus-bus-route-name {
  text-align: left;
  font-size: 1.7em;
  font-weight: 800;
  color: #481919;
  padding-top: 1.5em;
  line-height: .5em;
  letter-spacing: -2.4%;

}

.nextbus-bus-route-direction {
  text-align: left;
  font-size: 1.5em;
  font-weight: 200;
  color: #8C8C8C;
  padding-top: .75em;
  letter-spacing: -1.6%;

}

.nextbus-busnumber {
  display: inline-block;
  font-size: 3.2em;
  font-weight: 800;
  color: #481919;
  padding-left: .5em;
  letter-spacing: -2.41%;
}

.nextbus-time {
  display: inline-block;
  font-size: 2.5em;
  font-weight: 800;
  color: #481919;
  float: right;
  padding-right: .8em;
  padding-top: 1.75em;
  letter-spacing: -2.4%;

}

.nextbus h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: #481919;
  padding-left: .5em;
  padding-top: 1em;
  letter-spacing: -2.4%;

}

.upnext {
  height: 60px;
  width: 100%;
  background-color: #fff;

}

.upnext h3 {
  font-size: 1.5em;
  font-weight: 600;
  color: #481919;
  padding-top: 1.5em;
  padding-left: 1em;
  letter-spacing: -2.4%;

}

.refresh {
  float: right;
  position: relative;
  right: 3em;
  bottom: 1.5em;
  height: 2em;
  width: 2em;

}

.bus-route {
  display: inline-block;
  padding-left: 7em;
  padding-right: .5em;


}

.bus {
  height: 58px;
  width: 100%;
  background-color: #fff;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: .1px;
  border-color: #BCBBC1;
  border-style: solid

}

.bus-busnumber {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 2.4em;
  font-weight: 600;
  color: #ABABAB;
  padding-left: 1em;
  letter-spacing: -2.4%;

}

.bus-time {
  display: inline-block;
  width: 5em;
  height: 1em;
  font-size: 2em;
  font-weight: 600;
  color: #ABABAB;
  float: right;
  padding-left: 1em;
  padding-top: 1.75em;
  line-height: .2em;
  letter-spacing: -2.4%;
}


.bus-bus-route-name {
  text-align: left;
  font-size: 1.6em;
  font-weight: 300;
  color: #481919;
  padding-top: 1em;
  line-height: .7em;
  letter-spacing: -2.4%;
}

.bus-bus-route-direction {
  text-align: left;
  font-size: 1.4em;
  font-weight: 200;
  color: #8C8C8C;
  padding-top: .5em;
  letter-spacing: -1.6%;
}

.mybus {
  height: 58px;
  width: 100%;
  background-color: #fff;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: .1px;
  border-color: #BCBBC1;
  border-style: solid;

}

.mybus-bus-route-name {
  text-align: left;
  font-size: 1.7em;
  font-weight: 600;
  color: #481919;
  padding-top: 1em;
  line-height: .5em;
  letter-spacing: -2.4%;

}

.mybus-bus-route-direction {
  text-align: left;
  font-size: 1.5em;
  font-weight: 200;
  color: #8C8C8C;
  padding-top: .5em;
  letter-spacing: -1.6%;
}

.mybus-busnumber {
  display: inline-block;
  font-size: 2.4em;
  font-weight: 800;
  color: #481919;
  float: left;
  padding-left: 1.5em;
  line-height: .2em;
  padding-top: 1.5em;
  letter-spacing: -2.4%;

}

.mybus-time {
  display: inline-block;
  width: 5em;
  height: 1em;
  font-size: 2em;
  font-weight: 800;
  color: #481919;
  float: right;
  padding-right: .5em;
  padding-top: 1.75em;
  line-height: .2em;
  padding-left: 1em;
  letter-spacing: -2.4%;

}

.mybus-route {
  display: inline-block;
  padding-left: 3em;

}

.tab-bar {
  position: fixed;
  bottom: 0px;
  height: 5em;
  width: 100%;
  background-color: #fff;
  padding-top: .75em;
  border-top: .1px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-color: #BCBBC1;
  border-style: solid;

}

.bus-busnumber-outofservice {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 2.4em;
  font-weight: 600;
  color: #5997B2;
  float: left;
  padding-left: 1em;
  line-height: .2em;
  padding-top: 1.5em;

}


.bus-route-outofservice {
  display: inline-block;
  padding-left: 7.25em;

}

.bus-route-outofservice-name {
  text-align: left;
  font-size: 1.7em;
  font-weight: 300;
  color: #5997B2;
  padding-top: 1em;
  line-height: .5em;
  letter-spacing: -2.4%;

}

.bus-route-outofservice-direction {
  text-align: left;
  font-size: 1.5em;
  font-weight: 200;
  color: #8C8C8C;
  padding-top: .5em;
  letter-spacing: -1.6%;

}

.bus-time-outofservice {
  display: inline-block;
  width: 10em;
  height: 4em;
  font-size: 1em;
  font-weight: 500;
  color: #5997B2;
  float: right;
  padding-left: .5em;
  padding-top: 2em;
  line-height: .2em;
  letter-spacing: -1.6%;

}


.tab-bar-direction {
  display: inline-block;
  float: left;
  width: 34%;

}

.tab-bar-route {
  display: inline-block;
  width: 33%;
  height: 2em;
  margin-top: .5em;

}

.tab-bar-search {
  display: inline-block;
  float: right;
  width: 33%;

}
